<main class="mainTarefas">
  <h1 class="tituloTarefas">Lista de ToDos</h1>
  <form action="/add">
    <input class="buttonTarefas" type="submit" value="Adicionar Tarefa">
  </form>
  <div class="divEach">
    {{#each tarefas}}
    <section class="sectionTarefas">
      <div class="divNomeTarefas">
        <h1><a href="/pagIndividual/{{this.id}}">{{this.nome}}</a></h1>
        {{#if prioridadeAlta}}
          <h5 class="subPrioridadeAlta">{{this.prioridade}}</h5>
        {{/if}}
        {{#if prioridadeMedia}}
          <h5 class="subPrioridadeMedia">{{this.prioridade}}</h5>
        {{/if}}
        {{#if prioridadeBaixa}}
          <h5 class="subPrioridadeBaixa">{{this.prioridade}}</h5>
        {{/if}}
      </div>
      <div class="divFormsTarefas">
        <form action="/edit/{{this.id}}">
          <input type="submit" class="buttonForm" value="Editar">
        </form>
        <form action="/remove/{{this.id}}" method="POST">
          <input type="submit" class="buttonFormRemove" value="Remover">
        </form>
      </div>
    </section>
    {{/each}}
  </div>
</main>